html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, li, dl, address {margin: 0px; padding: 0px;}

/* TAM 2.00 Default CSS v1.0 */

html, body {
background-color: #000000;
background-image: url("pic/bg5.gif");
color: #d0d0d0;
font-family: Arial, Tahoma, serif;
font-size: 12px;
margin: 0;
padding: 0;
text-align: center;
}

a:link {
color: #d0d0d0;
text-decoration: none;
}

a:visited {
color: #d0d0d0;
text-decoration: none;
}

a:hover {
color: #d0d0d0;
text-decoration: underline;
}

#container {
clear: both;

margin: 0 auto;
padding: 0;
text-align: center;

width: 980px;
}

#head {
clear: both;

background-image: url("pic/head.jpg");
background-repeat: no-repeat;

height: 120px;
margin: 0 auto;
padding: 0;
width: 980px;
}

#foot {
clear: both;

font-size: 10px;
height: 20px;
margin: 0 auto;
padding: 10px 0;
text-align: center;
width: 980px;
}

#navigate {
clear: both;

background-color: #000000;

font-size: 16px;
font-weight: bolder;
height: 30px;
margin: 0 auto 15px auto;
padding: 2px 0 0 0;
text-align: center;
width: 980px;
}

#navigate a:link {
color: #d0d0d0;
text-decoration: none;
}

#navigate a:visited {
color: #d0d0d0;
text-decoration: none;
}

#navigate a:hover {
color: #d0d0d0;
text-decoration: underline;
}

#content {
clear: both;
float: left;

background-color: #232323;
border: 10px double #000000;

height: auto;
margin: 0 auto;
padding: 30px 55px;
text-align: center;
width: 850px;
}

.boxhead {
clear: both;
float: left;

font-size: 16px;
font-weight: bolder;
margin: 10px auto 5px auto;
padding: 0;
text-align: left;
width: 850px;
}

.box {
clear: both;
float: left;

border: 1px dashed #000000;
margin: 0 auto 10px auto;
padding: 20px 0;
text-align: center;
width: 850px;
height: auto;
}

#box a:link {
color: #d0d0d0;
text-decoration: none;
}

#box a:visited {
color: #d0d0d0;
text-decoration: none;
}

#box a:hover {
color: #d0d0d0;
text-decoration: underline;
}

.input {
background-color: #202020;
border: 1px solid #2a2a2a;
color: #d0d0d0;
font-family: Arial, Tahoma, serif;
font-size: 12px;
margin: 0;
padding: 0;
text-align: left;
}

.input:focus {
border: 1px solid #1a1a1a;
}

.input:hover {
border: 1px solid #000000;
}

.input_disabled {
cursor: default;
background-color: #202020;
border: 1px solid #202020;
color: #808080;
}

.input_disabled:focus {
border: 1px solid #202020;
}

.input_disabled:hover {
border: 1px solid #202020;
}

.button {
cursor: pointer;
background-color: #202020;
border: 1px solid #2a2a2a;
color: #d0d0d0;
font-family: Arial, Tahoma, serif;
font-size: 12px;
margin: 0;
padding: 5px;
text-align: center;
}

.button:focus {
border: 1px solid #1a1a1a;
}

.button:hover {
border: 1px solid #000000;
}

a.pager:link {
color: #d0d0d0;
text-decoration: underline;
}

a.pager:visited {
color: #d0d0d0;
text-decoration: underline;
}

a.pager:hover {
color: #d0d0d0;
text-decoration: overline;
}

/* LOGIN */
.login_row {
height: 20px;
clear: both;
text-align: center;
width: 264px;
margin: 0 auto;
}

.login_text {
float: left;
text-align: right;
width: 100px;
margin: 0 10px 0 0;
}

.login_input {
float: left;
text-align: left;
width: 100px;
margin: 0;
}

.login_inputfield {
width: 150px;
}

.login_button {
margin: 5px 0 0 0;
}

.login_error {
font-weight: bold;
color: #a0000a;
}

.login_important {
font-weight: bold;
color: #0aa000;
}

/* SETTINGS */
.settings_row {
height: 20px;
clear: both;
text-align: center;
width: 804px;
margin: 0 auto;
}

.settings_text {
float: left;
text-align: right;
width: 400px;
margin: 0 10px 0 0;
}

.settings_input {
float: left;
text-align: left;
width: 300px;
margin: 0;
}

.settings_inputfield {
width: 300px;
}

.settings_checkbox {
margin: 0;
}

.settings_button {
margin: 5px 0 0 0;
}

.settings_error {
font-weight: bold;
color: #a0000a;
}

/* INVITE */
.invite_row {
height: 20px;
clear: both;
text-align: center;
width: 804px;
margin: 0 auto;
}

.invite_text {
float: left;
text-align: right;
width: 400px;
margin: 0 10px 0 0;
}

.invite_input {
float: left;
text-align: left;
width: 300px;
margin: 0;
}

.invite_inputfield {
width: 300px;
}

.invite_inputfield_9char {
width: 75px;
text-align: center;
}

.invite_checkbox {
margin: 0;
}

.invite_select {
margin: 0;
}

.invite_textarea {
overflow: auto;
height: 200px;
width: 292px;
margin: 0;
padding: 2px 2px 2px 4px;
}

.invite_button {
margin: 5px 0 0 0;
}

.invite_error {
font-weight: bold;
color: #a0000a;
}

.invite_important {
font-weight: bold;
color: #0aa000;
}

.invite_star {
font-size: 14px;
font-weight: bolder;
padding: 0 5px 0 0;
}

.invited_head {
background-color: #000000;
height: 20px;
clear: both;
font-weight: bold;
text-align: center;
width: 804px;
margin: 0 auto;
}

.invited_row {
height: 20px;
clear: both;
text-align: center;
width: 804px;
margin: 0 auto;
}

.invited_row:hover {
background-color: #1a1a1a;
}

.invited_altrow {
background-color: #202020;
}

.invited_col1 {
float: left;
text-align: center;
width: 180px;
margin: 2px 0 0 0;
}

.invited_col2 {
float: left;
text-align: left;
width: 60px;
margin: 2px 0 0 0;
}

.invited_col3 {
float: left;
text-align: left;
width: 270px;
margin: 2px 0 0 0;
}

.invited_col4 {
float: left;
text-align: left;
width: 270px;
margin: 2px 0 0 0;
}

/* REGISTER */
.register_row {
height: 20px;
clear: both;
text-align: center;
width: 524px;
margin: 0 auto;
}

.register_text {
float: left;
text-align: right;
width: 200px;
margin: 0 10px 0 0;
}

.register_input {
float: left;
text-align: left;
width: 300px;
margin: 0;
}

.register_inputfield {
width: 300px;
}

.register_button {
margin: 5px 0 0 0;
}

.register_error {
font-weight: bold;
color: #a0000a;
}

.register_star {
font-size: 14px;
font-weight: bolder;
}

/* SECRET */
.secret_row {
height: 20px;
clear: both;
text-align: center;
width: 524px;
margin: 0 auto;
}

.secret_text {
float: left;
text-align: right;
width: 200px;
margin: 0 10px 0 0;
}

.secret_input {
float: left;
text-align: left;
width: 300px;
margin: 0;
}

.secret_inputfield {
width: 300px;
}

.secret_select {
margin: 0;
}

.secret_button {
margin: 5px 0 0 0;
}

.secret_error {
font-weight: bold;
color: #a0000a;
}

.secret_important {
font-weight: bold;
color: #0aa000;
}

/* USERS */
.users_head {
background-color: #000000;
height: 20px;
clear: both;
font-weight: bold;
text-align: center;
width: 804px;
margin: 0 auto;
}

.users_row {
height: 20px;
clear: both;
text-align: center;
width: 804px;
margin: 0 auto;
}

.users_row:hover {
background-color: #1a1a1a;
}

.users_altrow {
background-color: #202020;
}

.users_col1 {
float: left;
text-align: left;
width: 250px;
margin: 2px 0 0 5px;
}

.users_col2 {
float: left;
text-align: left;
width: 120px;
margin: 2px 0 0 0;
}

.users_col3 {
float: left;
text-align: left;
width: 120px;
margin: 2px 0 0 0;
}

.users_col4 {
float: left;
text-align: center;
width: 150px;
margin: 2px 0 0 0;
}

.users_col5 {
float: left;
text-align: center;
width: 150px;
margin: 2px 0 0 0;
}

.users_search_row {
height: 20px;
clear: both;
text-align: center;
width: 804px;
margin: 0 auto;
}

.users_search_col1 {
float: left;
text-align: right;
width: 400px;
margin: 2px 0 0 0;
}

.users_search_col2 {
float: left;
text-align: right;
width: 200px;
margin: 2px 0 0 0;
}

.users_search_col3 {
float: left;
text-align: right;
width: 200px;
margin: 2px 0 0 0;
}

.users_search_important {
float: left;
text-align: center;
width: 800px;
margin: 8px 0 0 0;
color: #0aa000;
}

.users_search_inputfield {
width: 250px;
margin: 5px 0 0 2px;
}

.users_search_select {
margin: 0 0 0 2px;
text-align: left;
}

.users_search_button {
margin: 5px 0 0 0;
}

.users_error {
font-weight: bold;
color: #a0000a;
}

/* USER */
.user_row {
height: 20px;
clear: both;
text-align: center;
width: 804px;
margin: 0 auto;
}

.user_col1 {
float: left;
text-align: right;
width: 380px;
margin: 0 10px 0 0;
}

.user_col2 {
float: left;
text-align: left;
width: 380px;
margin: 0;
padding: 0 0 3px 0;
}

.user_admin_comm {
border: 1px solid #202020;
color: #d0d0d0;
overflow: auto;
height: 200px;
width: 370px;
margin: 0;
padding: 0;
}

.user_inputfield {
width: 300px;
}

.user_checkbox {
margin: 0;
}

.user_select {
margin: 0;
}

.user_textarea {
overflow: auto;
height: 200px;
width: 370px;
margin: 0 0 1px 0;
padding: 2px 2px 2px 4px;
}

.user_button {
margin: 5px 0 0 0;
}

.user_inputfield_9char {
width: 75px;
text-align: center;
}

.user_inputfield_4char {
width: 36px;
text-align: center;
}

.user_inputfield_2char {
width: 18px;
text-align: center;
}

.user_secret_verif {
width: 285px;
}

.user_error {
font-weight: bold;
color: #a0000a;
}

.user_important {
font-weight: bold;
color: #0aa000;
}

/* LOGS */
.logs_head {
background-color: #000000;
height: 20px;
clear: both;
font-weight: bold;
text-align: center;
width: 810px;
margin: 0 auto;
}

.logs_row {
height: 20px;
clear: both;
text-align: center;
width: 810px;
margin: 0 auto;
}

.logs_row:hover {
background-color: #1a1a1a;
}

.logs_altrow {
background-color: #202020;
}

.logs_col1 {
float: left;
text-align: center;
width: 130px;
margin: 2px 0 0 5px;
}

.logs_col2 {
float: left;
text-align: center;
width: 80px;
margin: 2px 0 0 0;
}

.logs_col3 {
float: left;
text-align: left;
width: 498px;
margin: 2px 0 0 0;
}

.logs_col4 {
float: left;
text-align: right;
width: 90px;
margin: 2px 0 0 0;
}


.logs_status0 {
border: none;
}

.logs_status1 {
border: none;
}

.logs_status2 {
border: 1px solid red;
}


.logs_class0 {
color: green;
background-color: green;
}

.logs_class1 {
color: blue;
background-color: blue;
}

.logs_class2 {
color: yellow;
background-color: yellow;
}

.logs_class3 {
color: darkorange;
background-color: darkorange;
}

.logs_class4 {
color: red;
background-color: red;
}