html, body {
background-color: #000000;
color: #d0d0d0;
font-family: Arial, Tahoma, serif;
font-size: 12px;
margin: 0;
padding: 0;
text-align: center;
}

#container {
margin: 0 auto;
padding: 0;
text-align: center;
width: 980px;
}

.room {
height: 200px;
}

#clickable0 {
border: 1px solid blue;
}

#clickable1 {
border: 1px solid darkorange;
}

#clickable2 {
border: 1px solid green;
}